<div class="col-md-9">
    <div class="well" style="margin: 5% auto 0; width: 90%">
        <? if (! empty($overallStatesTaxes)): ?>
            <table class="table table-striped">
                <caption>The overall amount of taxes collected per state</caption>
                <? foreach ($overallStatesTaxes as $state => $tax): ?>
                    <tr>
                        <td><?= $state ?></td>
                        <td><?= $tax ?></td>
                    </tr>
                <? endforeach ?>
            </table>
        <? endif ?>
        <? if (! empty($averageStatesTaxes)): ?>
            <table class="table table-striped">
                <caption>The average amount of taxes collected per state</caption>
                <? foreach ($averageStatesTaxes as $state => $tax): ?>
                    <tr>
                        <td><?= $state ?></td>
                        <td><?= round($tax, 2) ?></td>
                    </tr>
                <? endforeach ?>
            </table>
        <? endif ?>
        <? if (! empty($averageStatesTaxRate)): ?>
            <table class="table table-striped">
                <caption>The average county tax rate per state</caption>
                <? foreach ($averageStatesTaxRate as $state => $taxRate): ?>
                    <tr>
                        <td><?= $state ?></td>
                        <td><?= round($taxRate, 2) ?>%</td>
                    </tr>
                <? endforeach ?>
            </table>
        <? endif ?>
        <p class="text-nowrap">The average tax rate of the country: <b><?= $averageTaxRate ?>%</b></p>
        <p class="text-nowrap">The collected overall taxes of the country: <b><?= $totalTax ?></b></p>
    </div>
</div>
